* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url('../img/battleground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
}

.fight-area {
    display: flex;
    gap: 20px;
}

#char,
#monster {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.portrait {
    margin-bottom: 20px;
    text-align: center;
}

.portrait > img {
    border: 1px solid #fff;
    border-radius: 2%;
    max-width: 400px;
    padding: 4px;
}

.bar {
    border: 1px solid #000;
    border-radius: 5px;
    height: 10px;
}

.lifebar {
    background-color: #0f0;
    border-radius: 5px;
    height: inherit;
}

.info {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
}

.btn-attack {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    height: 40px;
    text-transform: uppercase;
}

.btn-attack:disabled {
    color: #fff;
    cursor: not-allowed;
    background-color: #f00;
    opacity: .5;
}

.log-area {
    border: 1px dotted #aaa;
    color: #fff;
    height: 200px;
    margin-top: 20px;
    overflow-y: scroll;
}