.fight-area {
    display: flex;
    gap: 20px;
}

#char,
#monster {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.portrait {
    margin-bottom: 20px;
    text-align: center;
}

.portrait > img {
    border-radius: 50%;
    max-width: 350px;
    box-shadow: 3px 3px 3px #000;
}

.bar {
    border: 1px solid #000;
    border-radius: 5px;
    height: 10px;
}

.lifebar {
    background-color: #0f0;
    border-radius: 5px;
    height: inherit;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
}

.log-area {
    border: 1px dotted #aaa;
    height: 200px;
    margin-top: 20px;
    overflow-y: scroll;
}